In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\\uddeshya kumar\\OneDrive\\Documents\\weather_data.csv") #use double\\
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [38]:
rows,columns = df.shape

In [35]:
rows

6

In [36]:
columns

4

In [37]:
df. head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [7]:
df. tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [8]:
df[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [9]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [10]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [11]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [12]:
type(df['event'])

pandas.core.series.Series

In [13]:
df[['event','day']] #for more than 2 columns..use double [[]]...

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [14]:
df['temperature'].max()  #maximum temperature

35

In [15]:
df['temperature'].std() #standard deviation

3.8858718455450894

In [16]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [17]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [18]:
df[df.temperature==df.temperature.max()]
#this means give me dataframe when temp. is equal to maximum temperature..

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [19]:
df['day'][df.temperature==df.temperature.max()]
#this says give me dAY when temp. was maxm.

1    1/2/2017
Name: day, dtype: object

In [20]:
df[['day','temperature']][df.temperature==df.temperature.max()]
#this says give me dAY when temp. was maxm. alongwith temp.

        day  temperature
1  1/2/2017           35

In [21]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [22]:
df[0:1]

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [23]:
df.loc[0] # "loc" is used for showing any index..

day            1/1/2017
temperature          32
windspeed             6
event              Rain
Name: 0, dtype: object

In [24]:
df.set_index('day', inplace=True) #this set DAY as index instead of 0 to 5..
df                                #we can do the same for other columns..

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           32          2  Sunny

In [25]:
df.loc['1/3/2017'] #we can directly use date..

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [26]:
df.reset_index(inplace=True) #this will reset index to original..
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny